# Секретный ключ для авторизации релеев в пуле
CLUSTER_SECRET="super_secure_ychat_relay_cluster_secret_phrase_2026_go"
# Секретный ключ для генерации токена
CLIENT_SESSION_SECRET="super_secure_ychat_relay_cluster_secret_phrase_2026_token"

# Порт и другие настройки
MY_PUBLIC_IP=192.168.0.1
PORT=443
HTTP_PORT=444

NODE_NAME="Node-19216801"

# Стартовые узлы для подключения
BOOTSTRAP_LIST="/ip4/192.168.0.2/tcp/443/p2p/PeerIdExample"
